<h1>URL-Shortner</h1>

{% for message in get_flashed_messages() %} <!-- -->
<h2>{{ message }}</h2>
{% endfor %}
<h2>Hello {{name }}</h2>

<form action="your-url" method="post"> <!-- # This wants to send you to the URL with your-url behind, without `method="post"`, it's a GET-request, this visible in the URL bar of the web browser, also specify this as an argument in the decorator , `methods=["GET", "POST"]` -->
    <p>
    <label for="url">Website URL</label>
    <input type="url" name="url" value="" required>
    </p>
    <p>
    <label for="code">Short name</label>
    <input type="text" name="code" value="" required>
    </p>
    <p>
    <input type="submit" value="Shorten">
    </p>
</form>

<form action="your-url" method="post" enctype="multipart/form-data"> <!-- # The `enctype="multipart/form-data"` is to enable file uploads in the form. -->
    <label for="file">File</label>
    <input type="file" name="file" value="" required>
    </p>
    <p>
    <label for="code">Short name</label>
    <input type="text" name="code" value="" required>
    </p>
    <p>
    <input type="submit" value="Shorten">
    </p>
</form>
